footer{
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-evenly;
    color: var(--primary-color);
    padding: 1em 10em;
}
footer span{
    font-size: 0.8em;
    cursor: pointer;
}