.about{
    background-color: var(--secondary-color);

    --spacer: 0.25fr;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .about-container{

        & > *{
            transition: transform 0.15s ease-out;
        }

        @media(hover:hover){
            .text-box:hover{
                transform: scale(1.1);
                +.image{
                    transform: scale(1.1);  
                }  
            }
        }


        position: relative;
        max-width: 62em;
        margin: 0 auto;
        padding: 7em 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 0fr;
        grid-auto-flow: dense;
        place-items: center;
        row-gap: 7em; 
        color: var(--primary-color);

        @media only screen and (max-width: 525px) {            
            grid-template-columns: 1fr !important;
            row-gap: 0; 
            grid-auto-rows: 1fr 1fr var(--spacer) 1fr 1fr var(--spacer) 1fr 1fr var(--spacer) 1fr 1fr var(--spacer) 1fr 1fr var(--spacer) 1fr 1fr var(--spacer) 1fr 1fr var(--spacer) 1fr 1fr var(--spacer) 1fr 1fr var(--spacer) 1fr 1fr var(--spacer) 1fr 1fr var(--spacer);

        }

        .spacer{
            @media only screen and (min-width: 525px) {
                display: none;
                position: absolute;
                grid-row-start: 10;
                grid-row-end: 10;
            }
        }


        .text-box{

            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 12px;
            border: 1px solid rgba(209, 213, 219, 0.3);        
        
        
            padding: 2em;

            h2{
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: 1em;
            }
            p{
                font-size: 1em;
            }


            @media only screen and (max-width: 525px) { 
            
                border-radius: var(--br) var(--br) 0 0;
                height: 100%;
            }

            
        }

        .image{
            height: 100%;
            width: 100%;
            @media only screen and (max-width: 525px) {
                border-radius: 0 0 var(--br) var(--br);
            }
        }


        .left{
            transform-origin: right;
            @media only screen and (min-width: 525px) {
                grid-column-start: 1;
                grid-column-end: 1;
                border-radius: var(--br) 0 0 var(--br);
            }
        }
        .right{
            transform-origin: left;
            @media only screen and (min-width: 525px) {
                grid-column-start: 2;
                grid-column-end: 2;
                text-align: right;
                border-radius: 0 var(--br) var(--br) 0;
            }
        }
    }

    .background-elements{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        --element-color: var(--secondary-accent-color);
        font-size: 0.95rem;

        & > * > svg{
            fill: var(--element-color);
        }
        & > * {
            position: absolute;
        }

        .blob-1{
            @media only screen and (max-width: 1150px) {
                display: none;
            }

            left: 15%;
            top: -10rem;
            svg{
                width: 35em;
                height: 35em;
            }
        }
        .blob-2{
            right: -3%;
            top: 15%;
            svg{
                width: 50em;
                height: 50em;
            }
        }
        .blob-3{
            @media only screen and (max-width: 1064px) and (min-width: 525px) {
                display: none;
            }
            left: -20rem;
            top: 25%;
            svg{
                width: 75em;
                height: 75em;
            }
        }
        .blob-4{
            right: -20rem;
            bottom: -30rem;
            svg{
                width: 75em;
                height: 75em;
            }
        }
        .blob-5{
            @media only screen and (max-width: 1064px){
                display: none;
            }
            left: 0;
            bottom: -5rem;
            svg{
                width: 40em;
                height: 40em;
            }
        }
        .blob-6{
            right: 5%;
            bottom: 25%;
            svg{
                width: 30em;
                height: 30em;
            }
        }
        .blob-7{
            @media only screen and (max-width: 955px){
                display: none;
            }
            left: 0;
            top: 15%;
            svg{
                width: 30em;
                height: 30em;
            }
        }
        .blob-8{
            right: -10rem;
            top: -25rem;
            svg{
                width: 50em;
                height: 50em;
            }
        }
        

    }
}