@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --text-color: black;
    --text-color-alternate: rgb(255, 255, 255);
    --primary-color: white;
    --primary-accent-color-1: rgb(237, 237, 237);
    --primary-accent-color-2: rgb(243, 243, 243);    
    --primary-accent-color-3: #bebebe;    
    --secondary-color: #6c63ff;
    --secondary-accent-color: rgb(96, 56, 255);

    --secondary-color: #f67228;
    --secondary-accent-color: #fba879;

    --secondary-color: #467061;
    --secondary-accent-color: #56937d;
    --third-color: rgb(92, 92, 92);

    --font-weight-1: 700;
    --font-weight-2: 400;

    --br: 0.5rem;

    /* @media (prefers-color-scheme: dark) {
        --text-color: rgb(226, 226, 226);
        --text-color-alternate: var(--text-color);
        --primary-color: rgb(18, 18, 18);
        --primary-accent-color-1: rgb(30, 30, 30);
        --primary-accent-color-2: rgb(77, 77, 77);
        --secondary-color: #6c63ff;
        --secondary-accent-color: rgb(96, 56, 255);
        --third-color: rgb(92, 92, 92);

        --font-weight-1: 700;
        --font-weight-2: 400;
      } */
}

body{
  background: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  font-weight: var(--font-weight-2);
  /* & > :not(marquee){
      transition: all 1s linear;
  } */
} 


/* @media (hover:hover) and (pointer: fine){
  body::-webkit-scrollbar {
    width: 15px;           
  }
  body::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);     
  }
  body::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: #b6b6b6;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }
} */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;

}

/* html{
  scroll-padding-top: 52.8px;
} */



/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
