.contact{
    background-color: var(--primary-accent-color-1);
    position: relative;
    z-index: 1;
    overflow: hidden;


    .contact-container{
        max-width: 60em;
        margin: 0 auto;
        padding: 4em 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @media only screen and (max-width: 700px) {
            grid-template-columns: 1fr;
            gap: 2em;

            .contact-left{
                padding-right: 1em;
            }
        
        }
    }
}


.contact-left{
    padding-right: 5em;
    margin-left: 1em;
    position: relative;
    
    h2{
        font-size: 2em;
        margin-bottom: 0.5em;
        font-weight: var(--font-weight-1);

        &:before{
            content: '';
            position: absolute;
            width: 0.175em;
            height: 1em;
            background-color: var(--secondary-color);
            left: -0.5em;
            top: 0.2em;
            border-radius: 1000vw;
        }

        &:after{
            content: 'Contact';
            position: absolute;
            width: 0.175em;
            height: 1em;
            left: -1em;
            top: -.75em;
            font-size: 14em;
            font-weight: var(--font-weight-1);
            color: var(--primary-accent-color-2);
            z-index: -1;
            transform: rotate(5deg);
        }
    }

    p{
        font-size: 1em;
    }


    .map-wrapper{
        border-radius: var(--br);
        border: 0.25em solid var(--secondary-color);
        margin-top: 4em;

        iframe{
            width: 100%;
            height: 20em;
            border-radius: var(--br);
        }
    }
    
} 
    

.contact-left .contact-right{
    height: 100%;
}
.contact-right > *{
    display: block;
}

.contact-right{

    input[name="bot-field"]{
        display: none;
    }

    label{
        margin-bottom: 0.5em;
        font-weight: var(--font-weight-1);
    }
    textarea{
        resize: none;
    }
    input[type="text"], textarea{
        width: 100%;
        border-radius: var(--br);
        border: none;
        padding: 0.5em;
        outline: none;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 2em;
        border: 0.25em #ffffff00 solid;
    }
    input[type="text"]:focus, textarea:focus{
        border: 0.25em var(--secondary-color) solid;
    }
    .send-options{

        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        .submit-wrapper{
            font-weight: var(--font-weight-1);
            padding: 0.6em 1.1em 0.6em 1em;
            display: flex;
            place-content: space-between;
            align-items: center;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content; 
            background-color: var(--secondary-color);
            border-radius: var(--br);
            transition: all 0.2s ease-in-out;
            
            
            &:hover{
                background-color: var(--secondary-accent-color);
            }
            
            img{
                height: 1.1em;
                transition: transform 0.5s cubic-bezier(1, -4, 0, 1.01);
                margin-left: 0.5em;
                color: var(--text-color-alternate);
            }
            
            &:hover img{
                transform: translate(0.2em, -0.2em);
            }
            
            input{
                color: var(--text-color-alternate);
                font-size: 1em;
                font-weight: var(--font-weight-1);
                background: none;
                margin-bottom: 0;
                border: none;
            }
        }
        
        .or{
            font-size: 0.8em;
            position: relative;
            z-index: 1;

            &::before{
                position: absolute;
                content: '';
                width: 2em;
                aspect-ratio: 1/1;
                background-color: var(--primary-color);
                border-radius: 50%;
                top: -0.24em;
                left: -0.475em;;
                z-index: -1;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
        }

        .email-address{
            font-size: 0.8em;
            color: var(--text-color);

            &:hover{
                color: var(--secondary-color);
            }
        }
    }
}



