.hero{
    background-color: var(--primary-color);
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    @media only screen and (max-height: 850px) {
        min-height: 100vh;            
    }

    .hero-container{
        bottom: 0;
        position: relative;
        z-index: 1;
        height: 100%;
        max-width: 62em;
        margin: 0 auto;
        padding: 9em 2em;
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-auto-flow: column;
        place-items: center;
        gap: 3em;

        @media only screen and (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-auto-flow:dense;
            gap: 0;
            padding: 5em 2em;
            .hero-right{
                img{
                    display: none;
                }
            }
        }
        
        .hero-left .hero-right{
            height: 100%;
        }  

        .hero-left{

            h1{
                font-weight: var(--font-weight-1);
                font-size: 2.5em;
/*                 margin-left: 0.4em;
 */             position: relative;
                z-index: 1;
                margin-top: 0.2em;
                margin-bottom: 0.2em;

                /* &:before{
                    content: '';
                    position: absolute;
                    width: 0.175em;
                    height: calc(100% - 0.35em);
                    background-color: var(--secondary-color);
                    left: -0.5em;
                    top: 0.2em;
                    border-radius: 1000em;
                } */
            }

            h2{
                font-size: 1.1em;
                font-weight: normal;
                margin-top: 2em;
            }

            h3{
                font-size: 1.75em;
                color: var(--primary-accent-color-3);
                min-height: 1.5em;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                display: inline;
                margin-right: 5px;
                @media only screen and (max-width: 360px) {
                    display: block;
                }

            }
            #typewriter{
                margin: 0;
                position: relative;
                color: var(--secondary-color);
                &:after{
                    content: '';
                    position: absolute;
                    width: 0.125em;
                    height: 1em;
                    background-color: var(--secondary-color);
                    right: -0.2em;
                    bottom: 0.2em;
                    border-radius: 1000em;
                    -webkit-animation: cursorBlink 1s linear infinite;
                            animation: cursorBlink 1s linear infinite;
                }

                @-webkit-keyframes cursorBlink {
                    0%{
                        opacity: 1;
                    }
                    30%{
                        opacity: 1;
                    }
                    50%{
                        opacity: 0;
                    }
                    80%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 1;
                    }
                    
                }

                @keyframes cursorBlink {
                    0%{
                        opacity: 1;
                    }
                    30%{
                        opacity: 1;
                    }
                    50%{
                        opacity: 0;
                    }
                    80%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 1;
                    }
                    
                }
            }
            a{
                button{
                    margin-top: 2.5em;
                    padding: 0.5em 1em;
                    font-weight: bold;
                    color: var(--text-color-alternate);
                    background-color: var(--secondary-color);
                    border: 0.1em var(--secondary-color) solid;
                    border-radius: var(--br);
    
                    transition: all 0.2s ease-in-out;
    
                    &:hover{
                        color: var(--secondary-color);
                        background-color: var(--primary-color);
                        border-radius: var(--br);
                    }
                }
            }

        } 
        .hero-right{
            position: relative;
            img{
                max-width: 100%;
                max-height: 30em;
                color: var(--secondary-color);
                fill: currentColor; 
                border-radius: 50%;

                @media only screen and (max-width: 515px) {
                    width: 90vw;
                }
            }  
            .bg-abstract{
                z-index: -1;
                position: absolute;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                transform-origin: bottom left;
                background-color: var(--secondary-color);
                transform: translate(30%, -30%) rotate(28deg) scaleX(10) scaleY(20);
                
            }
        }

        .see-more-container{
            width: 100%;
            position: absolute;
            bottom: 0;
            .see-more-button{
                width: fit-content;
                top:0;
                bottom: 0;
                margin: 0 auto;
                padding-bottom: 3em;
                a{
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;
                    color: var(--primary-accent-color-3);
                    text-decoration: none;
                    text-align: center;
                    margin: 0 auto;
                    transition: color 0.5s ease-in;
                    svg{
                        transition: transform 0.5s cubic-bezier(1, -4, 0, 1.01);
                        margin: 0 auto;
                        fill: var(--secondary-color);
                        width: 1em;
                        height: 1em;
                        position: absolute;
                        top: 1.75em;
    
                        
                    }
                    
    
                }
                &:hover{
                    a{
                        color: var(--secondary-color);
                        svg{
                            transform: translateY(3.5px);
                        }
                    }
                }
            }
        }
    } 
}

