.hero{
    background-color: var(--primary-color);

    .hero-container{
        max-width: 60em;
        margin: 0 auto;
        padding: 9em 0.8em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;

        @media only screen and (max-width: 700px) {
            grid-template-columns: 1fr;
            gap: 3em;
            padding: 5em 1em;
        }
        
        .hero-left .hero-right{
            height: 100%;
        } 

        .hero-left{

            h1{
                font-size: 2.5em;
                line-height: 1.3em;
                margin-bottom: 0.5em;
                margin-left: 0.4em;
                position: relative;
                z-index: 1;

                &:before{
                    content: '';
                    position: absolute;
                    width: 0.175em;
                    height: calc(100% - 0.35em);
                    background-color: var(--secondary-color);
                    left: -0.5em;
                    top: 0.2em;
                    border-radius: 1000em;
                }
            }

            h2{
                font-size: 1.2em;
                font-weight: normal;
            }
        } 
        .hero-right{
            img{
                max-width: 30em;
                color: var(--secondary-color);
                fill: currentColor; 

                @media only screen and (max-width: 515px) {
                    width: 90vw;
                }
            }  
        }
    } 
}

