.navbar{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 3.5em;
    background-color: var(--primary-color);
    /* border: solid var(--secondary-color); 
    border-width: 0 0 3px 0; */
    filter: drop-shadow(0 -10px 20px var(--primary-accent-color-3));
    transition: transform 200ms ease-in-out, filter 200ms ease-in-out;

     

    .navbar-container{
        position: relative;
        height: 100%;
        max-width: 60em;
        display: flex;
        justify-content: space-between;
        padding: 0em 1em;
        margin: 0 auto;

        .left-nav{
            display: flex;
            align-items: center;
            svg{
                fill: var(--secondary-color);
                min-width: 25px !important;
                min-height: 25px !important;
                margin-right: 0.8em;
            }
        }
        
        .logo{
            font-size: 1.2em;
            font-weight: var(--font-weight-1);
            text-decoration: none;
            color: var(--text-color);

            span{
                color: var(--secondary-color);
            }
        }

        .ul-wrapper{
            display: flex;
            align-items: center;
            height: 100%;
            margin-left: auto;
              
            ul{
                position: relative;
                display: flex;
                width: 22.5em;
                font-weight: 100;
                margin-left: 2em;
                height: 100%;

                
                
                li{
                    list-style-type: none;
                    height: 100%;
                    width: 100%;
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        transition: color 0.2s ease-in-out;
                        @media only screen and (min-width: 650px) {
                        color: var(--text-color);
                        text-decoration: none; 
                        position: relative;

                        @media(hover:hover){  
                            &:before{
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 3px;
                                background-color: var(--secondary-color);
                                bottom: 0;
                                transform-origin: right;
                                transform: scale(0, 1);
                                transition: transform 0.2s ease-in-out;
                                transition-delay: 0.1s;
                            }
    
                            &:hover:before{
                                transform: scale(1, 1);
                                transform-origin: left;
                                transition-delay: 0;
                            }
                            
                            &:hover{
                                color: var(--secondary-color);
                            }
                        }
                        

                        }
                    }  

                    /* [href="#contact"]{
                        color: var(--secondary-color);
                        border-radius: var(--br);
                        border: 3px solid var(--secondary-color);
                        padding: 0.35em 1em;
                        font-weight: bold;
                    } */
                }
                
            }

            .btn-close-menu{
               display: none;
            }


            @media only screen and (max-width: 650px) {
                position: absolute;
                transform: translateX(0%);
                transition: transform 0.5s cubic-bezier(.27,.95,.81,1);
                background-color: var(--secondary-color);
                left: 100%;
                top: 0;
                height: 100vh;
                width: 300px;
                flex-direction: column;

                ul{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    margin-top: 5em;
                }
                
                .btn-close-menu{
                    width: 1.5em;
                    aspect-ratio: 1;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    aspect-ratio: 1;
                    fill: var(--primary-color);
                    margin-top: 2em;
                    margin-right: 2em;
                    cursor: pointer;
                }
                
                li{
                    display: unset;
                    width: 100%;
                    height: auto;
                    padding: 1em 2em;
                    &:hover{
                        -webkit-backdrop-filter: brightness(130%);
                                backdrop-filter: brightness(130%);
                    }
                    a{
                        font-size: 2em;
                        color: var(--text-color-alternate) !important;
                    }
                }
                
            }
        }
        .btn-open-menu{
            width: 1.5em;
            aspect-ratio: 1;
            display: none;

            @media only screen and (max-width: 650px) {
                display: block;
            }

        }
    }
}

.open-nav{
    transform: translateX(-100%) !important;

}

.scroll-down{
    .navbar{
        transform: translateY(-100%);
        filter: none;
    }
}
.scroll-up{
    .navbar{
        transform: translateY(0);
    }
}


.bubble{
    transition: all 0.3s ease-in-out;
    position: absolute;
    background-color: var(--secondary-accent-color);
    z-index: -1;
    @media only screen and (min-width: 650px) {
        background-color: var(--primary-accent-color-2);  
    } 
}



