body{
    display: flex;
    justify-content: center;
}

.container {
    max-width: 40em;
    height: fit-content;
    background-color: var(--primary-color);
    margin: 3em 1em;
    border-radius: var(--br);
    padding: 3em 3em 2em 3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


    h2{
        position: relative;
        font-weight: bold;
        font-size: 2.5em;
        &:before{
            content: '';
            position: absolute;
            height: 0.175em;
            width: 2em;
            background-color: var(--secondary-color);
            bottom: -0.125em;
            border-radius: 1000vw;
        }
    }
    p{
        margin-top: 1.5em;
    }
    button{
        cursor: pointer;
        color: var(--primary-color);
        font-size: 1em;
        font-weight: bold;
        border: none;
        background-color: var(--secondary-color);
        padding: 0.75em 1.25em;
        margin-top: 2em;
        display: flex;
        align-items: center;
        border-radius: var(--br);
        img{
            display: inline;
            margin-right: 0.75em;
            transition: transform 0.5s cubic-bezier(1, -4, 0, 1.01);
            
        }
        &:hover img{
            transform: translate(-0.2em, 0);
        }
        float: right;

        &:hover{
            background-color: var(--secondary-accent-color);
        }
    }
}

body{
    background-color: var(--primary-accent-color-1);
}