.block-2{
    background: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: var(--primary-text-color);
    min-height: 100vh;
    font-family: 'Archivo Black', sans-serif;
    position: relative;
} 

/* *{outline: auto;}
*/
.block-2 h2{
    font-size: min(70px, 7vw);
    text-align: center;
    z-index: 1;
}


.block-2 .card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1920px;
    min-height: 40vh;
    margin: 0 2.5vw;
    z-index: 1;
}



@media only screen and (max-width: 1250px){
    .block-2 .card-container{
        flex-direction: column;
        
    } 
    .card-1, .card-2, .card-3, .card-4 {
        margin: 20px !important;
    }
}

.card-1, .card-2, .card-3, .card-4 {
    max-width: 400px;
    border-radius: 20px;
    height: 100%;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all .2s ease-out;
    font-family: 'Archivo Black', sans-serif;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
}   

@media(hover: hover){
    .card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover {
        transform: scale(1.2);
        /* filter: none; */
    }    
}
.card-1{
    background-image: url("images/Coding-png.PNG");
}
.card-2{
    background-image: url("images/art.PNG");
    background-size: 450px;
}
.card-3{
    background-image: url("images/wireframe.png");
    background-size: 500px;

}
.card-4{
    background-image: url("images/pcb.jpg");
    background-size: 700px;
}

.card-contents{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    border-radius: 20px;
}
.card-contents h3{
    font-size: 24px;
    padding: min(20vh, 300px) 30px 0px;
    margin-top: 0px !important;
}
.card-contents p{
    padding: 0px 20px 20px 20px;
    margin-bottom: 0px;
    font-size: 14px;
}

.spacer{
    position: absolute;
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url("SVG/layered-waves-haikei2.svg");
}

.bg-art-1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: var(--primary-color);
    clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
}

/* .abstract-svg svg{
    position: absolute;
    stroke: var(--primary-color);

}
.abstract-svg .svg-1{
    position: absolute;
    width: min(200px, 20vw);
    height: min(200px, 20vw);
    background-size: 100%;
    right: min(400px, 20vw);
    top: min(200px, 20vw);
    stroke: none;
    fill: var(--primary-color);


}
.abstract-svg .svg-2{
    position: absolute;
    width: min(200px, 20vw);
    height: min(200px, 20vw);
    background-size: 100%;
    left: 20%;
    top: min(-40px, 10vw);
    fill: none;
} */