
.block-1{
    min-height: calc(100vh - 43.255px);
    width: 100vw;
    padding-top: 70px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Archivo Black', sans-serif;

}

@media only screen and (max-width: 1250px){
    .block-1{
        min-height: calc(100vh - 79.991px);
    } 
}

.block-1 img{
    border-radius: 50%;
    animation: 0.5s expand-image ease,/*  1s round-image 0s ease, */ 1s expand-border 0.50s ease;
    animation-fill-mode: forwards;
    z-index: 3;
}

@keyframes expand-border {
    from {
        border: 0px #4c84ad solid;
    }
    to {
        border: min(7.5vh, 7.5vw) var(--secondary-color) solid;
    }
  }
  @keyframes round-image {
    from {
        border-radius: 10%;
    }
    to {
        border-radius: 50%;
    }
  }
  @keyframes expand-image {
    from {
        width: 0px;
    }
    to {
        width: min(70vw, 60vh);

    }
  }



#canvas1{
    position: absolute;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    margin-top: 27px;
    top: 0%; 
    left: 0%;
    width: 100vw; 
    height: 100vh;
    z-index: 2;
    /* background-color: rgba(255, 166, 0, 0.243); */
}

@media only screen and (max-width: 1250px){
    #canvas1{
        height: calc(100vh - 37px);
    } 
}