@media only screen and (max-width: 600px){
    header{
        display: flex;
        flex-direction: column;
        height: 80px;
        justify-content: space-evenly !important;
    }
    header h1{
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;

    }
    header .header-options{
        width: 100% !important;
    }


}

header{
    letter-spacing: 1px;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    font-family: 'Archivo Black', sans-serif;
    background-color: var(--primary-color);
    display:flex;
    justify-content: space-between;
    align-items:center;
    color: var(--primary-text-color);
}


header .left-side-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;

}

header .logo{
    background: linear-gradient(to right,  rgb(229, 120, 200), rgb(150, 123, 240));
    height: 25px;
    width: 25px;
    border-radius: 50% 50% 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo .logo-inner{
    background-color: var(--primary-color);
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

header h1{
    width: auto;
    text-align: center;
    font-size: var(--header-font-size);
    font-weight: 500;
}

header .header-options{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content:space-evenly
}

header a{
    text-decoration: none;
    font-size: var(--header-font-size);
    font-weight: lighter;
    color: var(--primary-text-color);
}

.gradient {
    margin-top: 74px;
    position: absolute;
    bottom: -4px;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, rgb(131, 241, 128), rgb(242, 245, 84), rgb(229, 120, 200), rgb(125, 214, 239), rgb(150, 123, 240), rgb(237, 158, 80));
    animation-name: fade-in-rgb;
    animation-duration: 5s;
}

@keyframes fade-in-rgb {
    0%{
        background: linear-gradient(to left, rgb(131, 241, 128), rgb(242, 245, 84), rgb(229, 120, 200), rgb(125, 214, 239), rgb(150, 123, 240), rgb(237, 158, 80));
    }
    100%{
        background: linear-gradient(to right, rgb(131, 241, 128), rgb(242, 245, 84), rgb(229, 120, 200), rgb(125, 214, 239), rgb(150, 123, 240), rgb(237, 158, 80));
    }
}

