html, body {
    font-family: var(--font-family);
    margin:0; 
    padding:0;
    cursor: url('images/cursor.png'), auto;
    width: 100vw;
    }
/*
::-webkit-scrollbar {
      display: none;
  }*/

:root {
    --header-text-color: #f8fdff;
    --header-font-size: 18px;
    --big-text-color: #ffe742;
    --color-pink-100: #fcf2f9;
    --color-pink-500: #ff87d7;
    --color-pink-700: #d459ab;
    --color-pink-700-alpha: #d459ab22;
    --color-pink-900: #961d6e;
    --color-pink-900-alpha: #961d6e22;
    --color-gray-000: #ffffff;
    --color-gray-000-alpha: #ffffff22;
    --color-gray-050: #f5f4fb;
    --color-gray-100: #d4d0e0;
    --color-gray-300: #b1acb9;
    --color-gray-500: #7f7d87;
    --color-gray-700: #403c4a;
    --color-gray-800: #201d29;
    --color-gray-900: #171321;
    --color-gray-900-alpha: #17132122;
    --color-teal-500: #87fffb;
    --color-teal-500-alpha: #87fffb22;
    --color-teal-700: #63ddd9;
    --color-teal-900: #002827;
    --color-yellow-500: #ffe742;
    --color-yellow-500-alpha: #ffe74222;
    --color-yellow-700: #ddc62c;
    --color-blue-500: #04d2ff;
    --color-blue-500-alpha: #04d2ff22;
    --color-blue-700: #02a7cc;
    --color-blue-900: #0d314a;
    --font-family: jwf, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

@media only screen and (max-width: 600px){
    header{
        display: flex;
        flex-direction: column;
        height: 80px;
        justify-content: space-evenly !important;
    }
    header h1{
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;

    }
    header #header-options{
        width: 100% !important;
    }


}

header{
    position: fixed;
    width: 100vw;
    font-family: 'Archivo Black', sans-serif;
    font-weight: bolder;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;*/
    background-color: var(--color-gray-900);
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-family: var(--font-family);
}


header #left-side-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;

}

header #logo{
    background: linear-gradient(to right,  rgb(229, 120, 200), rgb(150, 123, 240));
    height: 25px;
    width: 25px;
    border-radius: 50% 50% 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #logo #logo-inner{
    background-color: var(--color-gray-900);
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

header h1{
    width: auto;
    text-align: center;
    font-size: var(--header-font-size);
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--header-text-color);
}

header #header-options{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content:space-evenly
}

header a{
    text-decoration: none;
    font-size: var(--header-font-size);
    letter-spacing: 1px;
    color: var(--header-text-color);    
    font-weight: lighter;
}

#gradient {
    margin-top: 74px;
    position: absolute;
    bottom: -4px;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, rgb(131, 241, 128), rgb(242, 245, 84), rgb(229, 120, 200), rgb(125, 214, 239), rgb(150, 123, 240), rgb(237, 158, 80));
    animation-name: fade-in-rgb;
    animation-duration: 5s;
}

@keyframes fade-in-rgb {
    0%{
        background: linear-gradient(to left, rgb(131, 241, 128), rgb(242, 245, 84), rgb(229, 120, 200), rgb(125, 214, 239), rgb(150, 123, 240), rgb(237, 158, 80));
    }
    100%{
        background: linear-gradient(to right, rgb(131, 241, 128), rgb(242, 245, 84), rgb(229, 120, 200), rgb(125, 214, 239), rgb(150, 123, 240), rgb(237, 158, 80));
    }
}

