
html, body {
  margin:0; 
  padding:0;
  scroll-behavior: smooth;
  background: #774360;

  }
  ::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .username {
    font-weight: bold;
    text-align: center;
  }
  .topnav {
    width: 100%;
    height: 180px;
    background-color: #774360;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: fixed;
  }
  .topnav h1 {
    color: #f1bf95;
    animation: neon 5s infinite;
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 40px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .topnav a {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #E7AB79;
    padding: 10px;
    padding-top: auto;
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  .topnav a:hover {
    font-weight: bold;
    opacity: 1;
    text-shadow: #E7AB79 0 0 12px

  }
  #lorem-text{
    padding-top: 185px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #e7ab79cc;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    

  }
  #lorem-text-left{
    width: 50%;
    padding-right: 50%;
    padding-top: 40px;
    float: left;
  }
  #lorem-text-right{
    width: 50%;
    padding-top: 40px;
    float: right;
    text-align: right;
  }

  @keyframes neon {
    0%,
    39%,
    41%,
    59%,
    61%,
    100% {
      text-shadow: #E7AB79 0 0 12px, #E7AB79 0 0 24px, #E7AB79 0 0 36px;
    }
    40%,
    60% {
      text-shadow: none;
    }
  }